 @import url("https://use.typekit.net/unv1rqq.css");

/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
    margin:0; padding:0;
}

/*--------------------------- lettertype etc -------------------------*/

header a{
    color:white;
}

header ul:first-of-type div:first-of-type li a{
    font-size: 16px;
    color:white;
    font-weight: 600;
    text-transform: uppercase;
}


footer{
    background-color: #DDDDDD;
}

h1, h2, h3, h4, h5, h6, p, a, button, li, li button, option, select, input{
    font-family: futura-pt, sans-serif;
}

/*header en footer*/
h1{
    font-size:18px;
    padding: 0.5em;
}

main h1{
    font-size: 25px;
    text-align: center;
    padding: 1em 0 ;
}

/*titel van product*/
ul li a h2{
    font-weight: 100;
    font-size: 14px;
}

/*prijs van product*/
ul li a p strong{
    font-size: 14px;
    color:#555555;
    letter-spacing: 0.2em;
    font-weight: 600;
}

h4{
    color:#999999;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    
}


h1 + p{
    text-align: center;
    padding:0 0.5em;
}

/*---------------------- wat algemene code -------------------------*/
ul{
    list-style-type: none;
}

button{
    margin:0;
    text-transform: uppercase;
    background-color: white;
    border:none;
    
    appearance:none;
    vertical-align:text-bottom;
}

/*------------------------------ header ----------------------------------*/

header{
    background-color: #2d2d2d;
    color:white;
}

/* iconen en zoekbalk*/
header nav > ul:first-of-type{
    display: flex;
    justify-content: space-between;
    background-color: inherit;
}

header ul:first-of-type div{
    display: flex;
    padding: 0.5em;
}

   
header ul:first-of-type div li {
    display: flex;
    align-items: center;
    height: 100%;   
    margin: 0.5em;
}

/*DAMES en HEREN linkjes*/
header ul:first-of-type div:first-of-type li:nth-of-type(3) a,header ul:first-of-type div:first-of-type li:last-of-type a{
    display: none;
}

header ul:first-of-type div li button{
    background-color: inherit;
    width: auto;
}

header ul:first-of-type div li img{
    height: 20px;
     width: auto; 
}

header ul:first-of-type div:last-of-type li:first-of-type input{
    display: none;

}

header ul:first-of-type div:last-of-type li:nth-of-type(2){
     display: none;
}

/*lijst met categorien webversie*/
header ul:nth-of-type(2){
    display: none;
}

/* section menu mobiel versie */
header section:first-of-type{
    margin:0; padding: 0;
    background-color:white;
	
    position:fixed;
	top:0;
	left:0;
	width:65%;
	height:100%;
	
	transform:translateX(-120%);
	transition:0.5s;
    z-index:1;
    
}

header section:first-of-type ul{
    margin-top: 0.5em;
    width: 100%;
    height: 90%;
    list-style-type: none;
    overflow: scroll;
}

header section:first-of-type div{
    display: flex;
    width: 100%;
}

header section:first-of-type div h2{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 2em;
    color: black;
    margin-top:1em;
    font-size: 20px;
    font-weight: 100;
}

header section:first-of-type div h2:first-of-type{
    border-right: 1px solid #2d2d2d;
}

header section:first-of-type ul li{
    background-color: #eeeeee;
    width: 90%;
    height: 4em;
    margin: 1em auto;
}


header section:first-of-type ul li a{
    display: block;
    height: 100%; width: 100%;
    padding: 1.3em 1em;
    color:#2d2d2d;
    letter-spacing: 0.1em;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

header section:first-of-type > button{
    width: 15%;
    height: 2.5em;
    font-size: 2em;
    font-weight: 600;
    
    border: none;
    background-color: #2d2d2d;
    color:white;
    
    z-index: 1;
    
    position:absolute;
	right:-15%;
	top: 0;
}


header section:last-of-type{
    display:none;
}


/*breadcrumbs*/
header nav > ul:last-of-type{
    display: none;
}


/*----------------------------------- main ----------------------------------*/


/*---------------------------------- footer ----------------------------------*/
footer section{
    width: 100%;
    margin: 0;
    padding: 1em;
}

footer section:first-of-type{
    display: none;
}


footer section:last-of-type{
   background-color: #DDDDDD;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*------------------------------- section 1 ----------------------------------*/

main section:first-of-type{
    height: 135px;
    overflow: hidden; 
    position: relative;
    margin-bottom: 1em;
}

main section:first-of-type::after{
  content:"";
  position:absolute;
  left:0; right:0;bottom:0;
  width:100%; height:100%;
  background-image: linear-gradient(transparent, white)
}

main section:first-of-type + button{
    display: block;
    font-size:18px;
    font-weight: 600;
    border:none;
    text-align: center;
    padding:1em;
    margin:0 auto;
    background-color: inherit; 
}

/*------------------------------- section 2 ----------------------------------*/
 main section:nth-of-type(2){
    display: flex;
    justify-content: space-around;
    background-color: #eeeeee;
    padding: 1em;
}

main section:nth-of-type(2) select, section:nth-of-type(2) button{
    width:100px;
    border:none;
    background-color: transparent;
    color:#666666;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
}




/*------------------------------- section 3  ----------------------------------*/

main section:nth-of-type(3){
    background-color:#eeeeee;
	
    position:fixed;
	top:0;
	right:0;
	width:85%;
	height:100%;
	
	transform:translateX(115%);
	transition:0.5s;
    z-index:1;
}

main section:nth-of-type(3) ul{
    margin-top: 0.5em;
    width: 100%;
    list-style-type: none;
}

main section:nth-of-type(3) h2{
    background-color: white;
    font-size: 1.2em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    width: 100%;
    height: 3.3em;
    padding: 1em;
}

main section:nth-of-type(3) li{
    background-color: white;
    width: 100%;
    margin: 2px;
}

main section:nth-of-type(3) li button{
   background-color: inherit;
    border:none;
    font-size: 16px;
    width: 100%; height: 100%;
    text-align: left;
    text-transform: none;
    padding: 1em;
}

main section:nth-of-type(3)> button:first-of-type{
    color: white;
    background-color: #2d2d2d;
    border: none;
    
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    
    width: 80%;
    height:2em;
    margin: 1em 10%;
}

main section:nth-of-type(3)> button:last-of-type{
    width: 15%;
    height: 2.5em;
    font-size: 2em;
    font-weight: 600;
    
    border: none;
    background-color: #2d2d2d;
    color:white;
    
    
    
    position:absolute;
	left:-15%;
	top: 0;
}




/*------------------------------- section 4 ----------------------------------*/
main section:nth-of-type(4){
    display: none;
}



/*------------------------------- section 5 ----------------------------------*/

main section:nth-of-type(5){
    margin: 1.5em auto;

}

main section:nth-of-type(5) > p{
    text-align: center;
    color:#666666;
}

main section:nth-of-type(5) ul {
    padding: 0.5em;
    list-style-type: none;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
}

main section:nth-of-type(5) ul li{
    padding:0;
    position: relative;
    margin: 0.5em;
}


 main section:nth-of-type(5) ul li a{
    display: flex;
    flex-direction: column;
}




 main section:nth-of-type(5) ul li a img{
    width:100%;
     order:-1;
}

 main section:nth-of-type(5) ul li a button {
    width: 40px; height: 40px;
    border-radius: 50%;
    border:none;
    background-color: rgba(250, 250,250, 0.95);
    position: absolute;
    top:5%;
    right:5%;
}

main section:nth-of-type(5) > button{
    display: block;
    color:#2d2d2d;
    
    font-size:16px;
    font-weight: 600;
    border:2px solid #dddddd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    
    width: 70%;
    padding:0.5em;
    margin:1em auto;
    
    background-color: inherit;  
}

img{
    width:100%;
}

/*------------------------------------------- states---------------------------------------------*/

a:active{
    text-decoration: none;
}

a:visited{
    color:black;
}


:focus{
    outline: 4px solid #0770cf;
}




/*-------------------------------------------Responsive maken---------------------------------------------*/
@media (min-width:340px){
    header ul:first-of-type div:last-of-type li:nth-of-type(2){
        display: flex;
    }
}

@media (min-width:500px){
    h1 + p {
        padding: 0 2em;
    }
}

@media (min-width:570px){
    /* section menu mobiel versie */
    header section:first-of-type{
    margin:0; padding: 0;
    background-color:white;
	
    position:fixed;
	top:0;
	left:0;
	width:65%;
	height:100%;
	
	transform:translateX(-120%);
	transition:0.5s;
    z-index:1;   
    }
    
    header section:first-of-type ul li{
    height: 8em;
    margin: 1em auto;
    }
    
    header section:first-of-type ul li:first-of-type{
    background-image:url("../images/menu_background/nieuw.jpeg");
    background-repeat: no-repeat;
    background-position: bottom left;
    }

    header section:first-of-type ul  li:nth-of-type(2){
    background-image:url("../images/menu_background/kleding.jpeg");
    background-repeat: no-repeat;
    background-position: bottom left;
    }

    header section:first-of-type ul li:nth-of-type(3){
    background-image:url("../images/menu_background/schoenen.jpeg");
    background-repeat: no-repeat;
    background-position: bottom left;
    }
    
    header section:first-of-type ul li a{
    display: block;
    height: 100%; width: 100%;
    padding: 2em 1em;
    color:#2d2d2d;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    }
}

@media (min-width:800px){
    /*--------------------------------------------- header responsive ----------------------------------*/
   header{
        width: 100%;
        position:relative;
    }
    
    /* iconen en zoekbalk*/
    header ul:first-of-type div:last-of-type li:first-of-type input{
    display: inline;
    padding: 0.5em 1em;
    width:250px;
    border-radius: 1.5em;
    border:none;
    padding-right: 1.89rem;
    }
    
    header ul:first-of-type div:last-of-type li:first-of-type button{
        margin-left: -1.89rem;
        background-color: #0770cf;
        height: 1.89rem;
        width:1.89rem;
        border-radius: 50%;
    }
    
    header ul:first-of-type div:first-of-type li:first-of-type{
        display: none;
    }
    
    header ul:first-of-type div:first-of-type li:nth-of-type(3) a,header ul:first-of-type div:first-of-type li:last-of-type a{
        display: block;
        width:100%; height: 100%;
        padding:1em 1em 0 1em;
    }
    
    header ul:first-of-type div:first-of-type li.selected {
        background-color: #525050;
    }
    
    header ul:first-of-type div:last-of-type li a{
        align-items: center;
    }
    
    
    /*lijst met categorien webversie*/
    header ul:nth-of-type(2){
    padding-left: 2em;
    display: flex;
        
    background-color: #525050;
    }
    
    
    
    
    header ul:nth-of-type(2) li button{
        background-color: inherit;
        color: white;
        text-transform: none;
        font-size: 0.9em;
        padding: 1em 0.8em;
    }
    
    header ul:nth-of-type(2) li:first-of-type button{
        padding-left: 0;
    }
    
    header ul:nth-of-type(2) li:last-of-type button{
        padding-right: 0;
    }
    
    header section{
    display:none;
    }
    
    header section:first-of-type{
        display: none;
    }
    
    
    /*breadcrumbs*/
    header nav > ul:last-of-type{
    display: flex;
    list-style: none;
    width:100%;
    height: 3em;
    align-items: center;
    background-color: white;
    padding-left: 2em;

    }
    
    header nav > ul:last-of-type li{
        margin: 0.25em;
    }
    
    header ul:last-of-type li, header nav > ul li a{
        color: #2d2d2d;
        font-size: 14px;
    }
    
    header nav > ul:last-of-type li:last-of-type a{
        color:#999999;
    }
    
    
    @media (min-width:800px){
    header ul:nth-of-type(2) li button{
        padding: 1em;
    }
}

@media (min-width:1020px){
    header >  ul:first-of-type{
        padding: 0em 5vw;
    }
    
    h1 + p{
        padding: 0 5em;
    }
}
    
    /*----------------------  footer responsive ------------------------------*/    
    
   footer section:first-of-type{
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    }

    footer section:first-of-type ul li{
    padding: 0.25em;
    }

    footer section:first-of-type ul li a{
    text-decoration: none;
    }

    footer section:first-of-type ul:last-of-type li{
    display: flex;
    }

    footer section:first-of-type ul:last-of-type li button{
    background-color: inherit;
    font-weight: 600;
    padding-left: 0.5em;
    
    } 
    
    /*------------------------- section 2  responsive--------------------------*/
    main section:nth-of-type(2){
        display: none;
    }
    
    
    /*------------------------- section 3  responsive--------------------------*/
    main section:nth-of-type(3){
        display: none;
    }
    
    /*------------------------- section 4 responsive --------------------------*/
    main section:nth-of-type(4){
    width:100%;
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #eeeeee;
    }
    
    main section:nth-of-type(4) select{
    width:23%;
    margin:0.5em;
    border:none;
    background-color: transparent;
    color:#666666;
    letter-spacing: 0.2em;
    font-weight: 600;
    padding: 0.5em;
    border-top: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7;
    
    }
    
    /*------------------------- section 5 responsive --------------------------*/
    main section:nth-of-type(5){
        width: 100%;
        max-width: 1340px;
        margin-top: 2em;
    } 
    
    main section:nth-of-type(5) ul{
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-gap: 1em;
        padding: 1em;
    }
        
}


@media (min-width:1000px){
    main section:nth-of-type(4) select{
    width: 18%;
    }
}



/*------------------------------------------- Animaties en Javascript---------------------------------------------*/
/*------------ header section tonen ----------*/
header nav section.laatZien {
   display: block;
    margin: 0;padding: 0;
    background-color: #eeeeee;
    z-index: 1;
    padding: 2em;
    height: 400px;
    width:80vw;
    position: absolute;
    bottom:-352px;
    left: 2em;
}

header nav section.laatZien ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    }
    
    header nav section.laatZien ul li{
        height: 2em;
        width: 25%;
        margin: 0.5em;
    }
    
    header nav section.laatZien  ul li a{
        text-decoration: none;
        color: #2d2d2d;
        font-size: 14px;
    }

    header nav ul:nth-of-type(2) li button.knopje{
        background-color: #eeeeee;
        color:black;
    }

/*------------ tekst sneakers voor dames uitklappen ----------*/

main section:nth-of-type(1).uitgeklapt{
    height: auto;
}

main section:nth-of-type(1).uitgeklapt::after{
    display: none;
}


section:nth-of-type(3).toonSectie{
    transform: translateX(0);
}

header nav section:first-of-type.toonSection{
    transform: translateX(0);
}

